.window {
  border: 10px solid blue;
  border-top-width: 20px;
}
.window .window-buttons {
  transform: translateY(-100%);
}
.window .window-title {
  transform: translateY(-70%);
}
.window-buttons .window-button {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: default;
}
.window-button:hover:not(.exit-button) {
  background-color: rgb(32, 110, 255);
}
.window-button.exit-button:hover {
  background-color: rgb(250, 74, 74) !important;
}
.window-button a {
  line-height: 20px;
}
.window-button .minimize {
  transform: translate(60%);
}
.window-button .fullscreen {
  font-size: 10px;
}
.window-button .exit {
  font-size: 20px;
}
  