.window {
  border: 10px solid blue;
  border-top-width: 20px;
}
.window .window-buttons {
  transform: translateY(-100%);
}
.window .window-title {
  transform: translateY(-70%);
}
.window-buttons .window-button {
  width: 20px;
  height: 20px;
  cursor: default;
}
.window-buttons .window-button:not(.exit-button):hover {
  background-color: rgb(83, 143, 255) !important;
}
.window-button.exit-button:hover {
  background-color: rgb(248, 111, 111) !important;
}
.window-button a {
  line-height: 20px;
}
.window-button .minimize {
  transform: translate(60%);
}
.window-button .fullscreen {
  font-size: 10px;
}
.window-button .exit {
  font-size: 20px;
}
